In [29]:
import pandas as pd

In [483]:
df = pd.read_csv("spotify_millsongdata.csv")

In [484]:
df.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [485]:
df.tail()

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [486]:
df.shape

(57650, 4)

In [487]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [532]:
if 'link' in df.columns:
    df = df.sample(5000).drop('link', axis=1).reset_index(drop=True)
else:
    df = df.sample(5000).reset_index(drop=True)

In [533]:
df.head()

,artist,song,text
0,Elton John,I Should Have Sent Roses,are you standing outside? \r looking up at th...
1,Ramones,Something To Believe In,"i wish i was someone else \r i'm confused, i'..."
2,Queen Latifah,I Know Where I've Been,there's a light in the darkness \r though the...
3,Fleetwood Mac,First Train Home,written by peter green. \r \r \r i'm gonn...
4,Fleetwood Mac,Black Jack Blues,ow ow ow ow ow \r this is the story of a man ...

In [534]:
df['text'][0]

'are you standing outside?  \r looking up at the sky  \r cursing a wandering star  \r well if i were you  \r i\'d throw rocks at the moon  \r and i\'d say, "damn you wherever you are"  \r   \r i don\'t know where to start  \r this cage round my heart  \r locked up what i meant to say  \r what i felt all along the way  \r just wondering how come  \r i couldn\'t take your breath away  \r   \r [chorus]  \r \'cause i never sent roses  \r i never did enough  \r i didn\'t know how to love you  \r though i loved you so much  \r and i should have sent roses  \r when you crossed my mind  \r for no other reason  \r than the fact you were mine  \r i should have sent roses  \r   \r looking back on my life  \r if fate should decide  \r i could do it all over again  \r i\'d build no more walls  \r i\'d stay true and recall  \r the fragrance of you on the wind  \r   \r you\'ll get better than me  \r someone who can see  \r right from the start give it all that you need  \r and i\'ll slip away  \r knowing i\'m half the man i should be  \r   \r [chorus]  \r   \r should have sent roses\r \r '

In [535]:
df.shape

(5000, 3)

Text Cleaning/ Text Preprocessing

In [536]:
 df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n',' ',regex = True)

In [537]:
df.tail(5)

,artist,song,text
4995,Crowded House,How Will You Go,escape is on your mind again \r escape to a f...
4996,Red Hot Chili Peppers,Subway To Venus,step right up and listen please \r you're gon...
4997,P!nk,Looks Like A Job 4...,"talking down, so give short...... \r leave it..."
4998,Dire Straits,Planet Of New Orleans,standin' on the corner \r of toulouse and dau...
4999,Frank Sinatra,Early American,"the dream i'm building is early american, \r ..."

In [538]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.stem.porter import PorterStemmer

In [539]:
stemmer = PorterStemmer()
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\admin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [540]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

In [541]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [542]:
df['text'].apply(lambda x: token(x))

0       are you stand outsid ? look up at the sky curs...
1       i wish i wa someon els i 'm confus , i 'm afra...
2       there 's a light in the dark though the night ...
3       written by peter green . i 'm gon na catch the...
4       ow ow ow ow ow thi is the stori of a man he ha...
                              ...
4995    escap is on your mind again escap to a far awa...
4996    step right up and listen pleas you 're gon na ...
4997    talk down , so give short ...... leav it good ...
4998    standin ' on the corner of toulous and dauphin...
4999    the dream i 'm build is earli american , somet...
Name: text, Length: 5000, dtype: object

In [543]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [544]:
tfid = TfidfVectorizer(analyzer = 'word', stop_words='english')

In [545]:
matrix = tfid.fit_transform(df['text'])

In [546]:
similar = cosine_similarity(matrix)

In [547]:
similar[0]

array([1.        , 0.14034322, 0.03105333, ..., 0.08158199, 0.01626847,
       0.02073698])

In [24]:
df[df['song'] == "Heaven"].index[0]

NameError: name 'df' is not defined

Recommender Function

In [20]:
def recommender(song_name):
    # Your code to get 'matching_songs' and 'similar'
     matching_rows = df[df['song'] == song_name]
     if matching_rows.empty:
        print(f"No song named '{song_name}' found in the dataset.")
        return []
     idx = matching_rows.index[0]
    distance = sorted(list(enumerate(similar[idx])),reverse=True, key=lambda x:x[1])
    song = []
    for s_id in distance[1:5]:
        song.append(df.iloc[s_id[0]].song)
    return song

IndentationError: unindent does not match any outer indentation level (<string>, line 8)

In [22]:
recommendations = recommender("Lights")
print(recommendations)

NameError: name 'recommender' is not defined

In [ ]:
import pickle

In [ ]:
pickle.dump(similar, open("similarity", "wb"))

In [ ]:
pickle.dump(df,open("df", "wb"))